<html>
    <head>

    </head>
    <body>

        <div class="card">
            <div class="card"> 
        <div class="container">
          <h1 class="text-center mt-3">Porcentaje Presupuesto</h1> 
          <div class="row">
            <div class="col-m6">
              <label>Gastos Mantenimientos</label>
              <input type="number" class="form-control"   name="gastosMantenimientos" >
            </div>
            <div class="col-m6">
              <label>Presupuesto Mantenimientos</label>
              <input type="number" class="form-control"   name="gastosMantenimientos" >
            </div>
            <div class="col-m6">
              <label>Gastos Personal</label>
              <input type="number" class="form-control"   name="gastosMantenimientos" >
            </div>
            <div class="col-m6">
              <label>Presupuesto Gastado</label>
              <input type="number" class="form-control"   name="gastosMantenimientos" >
            </div>

            <a class="btn btn-primary btn-lg custom mt-4"  role="button">Calcular</a>
        

          </div>

         </div>
        </div>
      </div>
    </body>
</html>


