
<app-navbar></app-navbar>
<html>
    <head>

    </head>
    <body>

        <div class="card">
            <div class="card"> 
        <div class="container">
          <h1 class="text-center mt-3">Porcentaje Presupuesto</h1> 
          <div class="row">
            <div class="col-m6">
              <label>Gastos Mantenimientos</label>
              <input type="number" class="form-control"  value={{costoTotal}}  name="gastosMantenimientos" >
            </div>
            <div class="col-m6">
              <label>Presupuesto Mantenimientos</label>
              <input type="number" class="form-control"  [(ngModel)]= "gastosMantenimientos" name="PresupuestoMantenimientos" >
            
            </div>
            <div class="col-m6">
              <label>Gastos Personal</label>
              <input type="number" class="form-control" value={{costoTotalExterno}}  name="gastosPersonal" >
            </div>
            <div class="col-m6">
              <label>Gasto Total </label>
              <input type="number" class="form-control" value={{gastoTotal}}  name="costoTotal" >
            </div>
            <div class="col-m6">
              <label>Porcentaje Presupuesto Gastado</label>
              <input type="text" class="form-control"  value={{porcentajeGastos}} name="presupuestoGastado" >
            </div>

            <a class="btn btn-primary btn-lg custom mt-4" (click)="getPorcentajeGastos()" role="button">Calcular</a>
        

          </div>

         </div>
        </div>
      </div>
    </body>
</html>


