<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="container">
            <h1 class="text-center mt-4">Historial Solicitud de Mantenimiento Correctivo</h1>
  
                <form  class="row g-3 mt-4" action="">
                    <div class="col-md-6 mt-4" >
                        <label  class="form-label ">¿QUIEN REPORTA?</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>
                    <div class="col-md-6 mt-4">
                        <label  class="form-label ">FECHA SOLICITUD</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>

                    <div class="col-md-6">
                        <label  class="form-label ">SERVICIO</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>

                    <div class="col-md-6">
                        <label  class="form-label ">UBICACIÓN</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>
                    <div class="col-md-6">
                        <label  class="form-label ">NÚMERO DE SERIE</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>
                    <div class="col-md-6">
                        <label  class="form-label ">CÓDIGO DEL EQUIPO</label>
                        <input type="text" class="form-control"   formControlName="fecha" >
                    </div>
                    
                    <div class="col-md-12 mb-4">
                        <label  class="form-label mt-2">FALLO DEL EQUIPO</label>
                        <textarea type="text" class="form-control" formControlName="observaciones"></textarea>
                    </div>
                    <div class="col-md-12 mb-4 mb-4">
                        <label  class="form-label mt-2">DETALLES</label>
                        <textarea type="text" class="form-control" formControlName="observaciones"></textarea>
                    </div>
               
                </form>
                <br>
                <br>
                <br>
        </div>
    </div>
</body>
</html>
