<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Equipo</title>
</head>
<body>
   
        <div class="container  mt-4">
            <div class="card " >
                <div class="card-body">
                    <span class="h3">Equipos</span>
                       
                        
                        <i class="bi bi-upc-scan  mr-4 float-right"  [routerLink]= "['/codigoqr', id]" >   <img src="assets/qr-code.png" class="mr-4"></i>
                
                    <div class="row g-3 mt-4">

                       
                            <div class="col-4">
                                <div>
                               

                                  
                                  
                                    <a class="btn btn-primary btn-lg custom"  [routerLink]= "['/menuhojadevida', id] " role="button">Hoja de Vida</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary mt-3 btn-lg custom"  [routerLink]= "['/mantenimientocorrectivo', id]" role="button">Mantenimiento Correctivo</a>
                                </div>
                                <div>
                                    <a class="btn btn-primary  mt-3  btn-lg custom"  [routerLink]= "['/mantenimientopreventivo', id]" href="../mantenimientopreventivo" role="button">Mantenimiento Preventivo</a>
                                </div>
                               
                            </div>
                            
                     
                          
                            <div class="col-4">
                                <div>
                                    <a class="btn btn-primary btn-lg custom" [routerLink]= "['/certificacionmetrologica',id]"  role="button">Certificacion Metrologica</a>
                                   
                                </div>
                                <div>
                                    <a class="btn btn-primary mt-3 btn-lg custom" [routerLink]= "['/protocololimpieza', id]" role="button">Protocolo Limpieza</a>
                                  
                                </div>
                            
                                <div>
                                    <a class="btn btn-primary mt-3 btn-lg custom" href="../inspeccionseguridad/" role="button">Inspeccion Seguridad</a>
                                    
                                </div>
                            
                            </div>
                            
                            <div class="col-4">
                                <div>

                                    <a class="btn btn-primary btn-lg custom" href="../inspeccionseguridad/" role="button">Inspeccion Funcionamiento</a>
                                </div>
                                <div>
                                  
                                    <a class="btn btn-primary mt-3 btn-lg custom" [routerLink]= "['/darbajaequipo', id]" role="button">Dar Baja</a>
                                    
                                </div>
                                <div>
                                    
                                    <a class="btn btn-primary mt-3 btn-lg custom" [routerLink]= "['/actualizarequipo/', id]"  role="button">Actualizar Equipo</a>
                                </div>
                           
                            </div>

                            
                            

                    </div>
                   
                  
                </div>
        
            </div>
        
        </div>
    </body>
    

</html>

 
