<app-navbar></app-navbar>
<!doctype html>
<html>
    <head>

    </head>
    <body>
        <div class="container  mt-4">
            <div class="card">
                <div class="card-body">
                    <span class="h3">Equipos</span>
                   
                   
                    <table class="table table-striped mt-5">
                        <thead>

                          <tr>
                            <th >Clasificacion</th>
                            <th >Numero de Equipos</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <td ><a routerLink="../riesgobajo">Clase I</a></td>
                            <td>
                              <ul>
                                <li class="text" *ngFor="let equipo of equiposClase1 | async ; let indexs = index ; let ultimo = count" [ngClass]="{mostrar:ultimo,noMostrar:indexs}" >
                                  {{ultimo}}

                                </li>
                              </ul>
                            </td>
                          </tr>

                          <tr>
                            <td ><a routerLink="../clase2a">Clase II A</a></td>
                            <td>
                              <ul>
                                <li class="text" *ngFor="let equipo of equiposClase2A | async ; let indexs = index ; let ultimo = count" [ngClass]="{mostrar:ultimo,noMostrar:indexs}" >
                                  {{ultimo}}
                                </li>
                              </ul>
                            </td>
                          </tr>

                          
                          <tr>
                            <td ><a routerLink="/riesgomedio">Clase II B</a></td>
                            <td>
                              <ul>
                                <li class="text" *ngFor="let equipo of equiposClase2B | async ; let indexs = index ; let ultimo = count" [ngClass]="{mostrar:ultimo,noMostrar:indexs}" >
                                  {{ultimo}}
                                </li>
                              </ul>
                            </td>
                          </tr>


                          <tr>
                            <td><a routerLink="/riesgoalto">Clase III</a></td>
                            <td>
                              <ul>
                                <li class="text" *ngFor="let equipo of equiposClase3 | async ; let indexs = index ; let ultimo = count" [ngClass]="{mostrar:ultimo,noMostrar:indexs}" >
                                  {{ultimo}}
                                </li>
                              </ul>
                            </td>
                          </tr>


      
                         

                        
      
                          <tr>
                            <td ><a routerLink="../dadosbaja">Dados de Baja</a></td>
                            <td>
                              <ul>
                                <li class="text" *ngFor="let equipo of equiposBaja | async ; let indexs = index ; let ultimo = count" [ngClass]="{mostrar:ultimo,noMostrar:indexs}" >
                                  {{ultimo}}
                                </li>
                              </ul>
                            </td>

                          </tr>
      
                      
                       
                        </tbody>
                      </table>
                      <button class="mt-4" mat-raised-button color="primary" routerLink="/cronograma">Cargar Cronograma de Mantenimiento</button>
                </div>
        
            </div>
        
        </div>
    </body>
</html>
 