<app-navbar></app-navbar>
<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS ENFERMERIAs</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th>Número de Equipo</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a  routerLink="/consultorioenfermeria1">CONSULTORIO ENFERMERIA  Nº 1</a></td>
                      <td>{{numeroEnfermeria1}}</td>
                      <td>{{costoEnfermeria}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a routerLink="/consultorioenfermeria2">CONSULTORIO ENFERMERIA  Nº 2</a></td>
                      <td>{{numeroEnfermeria2}}</td>
                      <td>{{costoEnfermeria2}}</td>
                      
                    </tr>



               

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>

