<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS ENFERMERIA</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a href="../consultorioenfermeria1/">CONSULTORIO ENFERMERIA  Nº 1</a></td>
                      <td>{{costoEnfermeria}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a href="../consultorioenfermeria2/">CONSULTORIO ENFERMERIA  Nº 2</a></td>
                      <td>{{costoEnfermeria2}}</td>
                    </tr>



               

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>

