
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <img src="assets/logo.png">
      <span class="navbar-brand mb-0 h1">  <a class="navbar-brand  " routerLink="../inicio">Biosoftware</a></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-5 mr-5">
          <li class="nav-item active">
            <a class="nav-item nav-link  active ml-5 mr-5 " routerLink="/inicio" >Inicio <span class="sr-only">(current)</span></a>
  
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link"   routerLink= "/servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink= "/almacen">Almacen</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link " routerLink= "/equipos">Equipos</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink= "/inspecion">Inspeccion, Vigilancia y Control de Mantenimiento de EB</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin == false" >
            <a class="nav-item nav-link" routerLink= "/listausuarios">Lista De Usuarios</a>
          
          </li>
        
        </ul>

          <a class="nav-item ml-auto" (click)="AuthService.SignOut()">
          <i class="float-right fas fa-sign-out-alt ml-auto ">Terminar Sesión</i>
        </a>
      </div>
    </nav>



  

   