<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="assets/logo.png">
      <span class="navbar-brand mb-0 h1">  <a class="navbar-brand " href="../inicio">Biosoft</a></span>
      <a class="navbar-brand " href="../inicio">Biosoft</a>
    </div>
  </nav>
  <head>
  
  </head>
  <nav class="navbar  navbar-expand-lg  text-center">
    
     
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link  active ml-5 mr-5 " href="../inicio" >Inicio <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="../servicios" >Servicios</a>
          <a class="nav-item nav-link" href="../almacen">Almacen</a>
          <a class="nav-item nav-link " href="../equipos">Equipos</a>
          <a class="nav-item nav-link" href="../inspecion">Inspeccion, Vigilancia y Control de Mantenimiento de EB</a>
        </div>
      </div>
  
  
      <form class="navbar-search pull-right pl-8">
          <input  type="text" class="search-query ml-10" placeholder="Buscar " pr-4>
        </form>
  
  
      
     
        
    </nav>