<app-navbar></app-navbar>
<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">Servicios</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Servicios</th>
                      <th>Número de Equipos</th>
                      <th>Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a routerLink= "/consultoriosmedicinageneral">MEDICINA GENERAL</a></td>
                      <td class="text-center">{{numeroMedicina}}</td>
                      <td>{{costoTotalMedicinaGeneral | currency}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a routerLink="/consultoriosenfermeria">ENFERMERÍA</a></td>
                      <td class="text-center">{{numeroEnfermeria}}</td>
                      <td>{{costoTotalEnfermeria| currency }}</td>
                    </tr>
                 
                    <tr>
                      <td><a routerLink="/consultoriosodontologia">ODONTOLOGÍA </a></td>
                      <td class="text-center">{{numeroOdontologia}}</td>
                      <td>{{costoTotalOdontologia | currency}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/urgencias">PSICOLOGÍA</a></td>
                      <td class="text-center">{{numeroPsicologia}}</td>
                      <td>{{costoPsicologiaTotal | currency}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/consultaprioritaria">CONSULTA PRIORITARIA</a></td>
                      <td class="text-center">{{numeroConsulta}}</td>
                      <td>{{costoConsultaPrioritariaTotal | currency}}</td>
                    </tr>

                    
                    <tr>
                      <td><a routerLink="/laboratorioclinico">LABORATORIO CLINICO</a></td>
                      <td class="text-center">{{numeroLaboratorio}}</td>
                      <td>{{costoLaboratorioTotal | currency}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/serviciofarmaceutico">SERVICIO FARMACEUTICO</a></td>
                      <td class="text-center">{{numeroFarmaceutico}}</td>
                      <td>{{costosFarmaceuticosTotal | currency}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/tomainterpretacion"> TOMA E INTERPRETACION DE RADIOGRAGIAS ODONTOLÓGICAS</a></td>
                      <td class="text-center">{{numeroTOma}}</td>
                      <td>{{costoTomaTotal | currency}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/detenciontemprana">DETENCION TEMPRANA - ALTERACIONES DEL CRECIMIENTO</a></td>
                      <td class="text-center">{{numeroDetencion}}</td>
                      <td>{{costoDetencionTotal | currency}}</td>
                    </tr>

                   
                 
                  </tbody>
                  <button class="mt-4" mat-raised-button color="primary" routerLink="/registrarequipo">Registrar Equipo</button>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>