<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">Servicios</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Servicios</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a href="../consultoriosmedicinageneral/">MEDICINA GENERAL</a></td>
                      <td>{{  costoMedicinaGenaral+
                        costoMedicinaGenaral2+costoMedicinaGenaral3+
                        costoMedicinaGenaral4+
                        costoMedicinaGenaral5+
                        costoMedicinaGenaral6}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a href="../consultoriosenfermeria/">ENFERMERÍA</a></td>
                      <td>{{ costoEnfermeria + costoEnfermeria2}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultoriosodontologia/">ODONTOLOGÍA </a></td>
                      <td>{{costoOdontologia+
                        costoOdontologia2+
                        costoOdontologia3}}</td>
                    </tr>

                    <tr>
                      <td><a href="../urgencias/">PSICOLOGÍA</a></td>
                      <td>{{costoPsicologia}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultaprioritaria/">CONSULTA PRIORITARIA</a></td>
                      <td>{{costoConsultaPrioritaria}}</td>
                    </tr>

                    
                    <tr>
                      <td><a href="../laboratorioclinico/">LABORATORIO CLINICO</a></td>
                      <td>{{costoLaboratorio}}</td>
                    </tr>

                    <tr>
                      <td><a href="../serviciofarmaceutico/">SERVICIO FARMACEUTICO</a></td>
                      <td>{{costosFarmaceuticos}}</td>
                    </tr>

                    <tr>
                      <td><a href="../tomainterpretacion/"> TOMA E INTERPRETACION DE RADIOGRAGIAS ODONTOLÓGICAS</a></td>
                      <td>{{equiposToma}}</td>
                    </tr>

                    <tr>
                      <td><a href="../detenciontemprana/">DETENCION TEMPRANA - ALTERACIONES DEL CRECIMIENTO</a></td>
                      <td>{{costoDetencion}}</td>
                    </tr>

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>