<html>
    <head>

    </head>
    <body>

        <div class="card">
            
        <div class="container">
          <h3 class="text-center mt-3">Inspección de Seguridad</h3> 
            <h5 class="mt-3">Identificacion</h5>
        <form class="row g-3">
            <div class="col-md-6 ">
              <label for="inputEmail4" class="form-label mt-2">Número Inspección de Seguridad</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label mt-2">Código del Equipo</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
           
            <div class="col-6">
              <label for="inputAddress" class="form-label">Código del Prestador</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="">
            </div>
            <div class="col-6">
              <label for="inputAddress2" class="form-label">Descripcion Equipo</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Nombre Equipo</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-6 ">
              <label for="inputEmail4" class="form-label ">Marca</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Modelo</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Serie</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Inv / Activo</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Clasificacion Biomedica</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Clasificacion Por Riesgo</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Frecuencia</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6 ">
                <label for="inputEmail4" class="form-label ">Tiempo Estimado</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
            <hr style="color: #0056b2;" />
            <h5>Tabla de Procedimiento</h5>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Procedimientos</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
       

              <hr style="color: #0056b2;" />
              <h5>Herramientas</h5>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Herramientas y Equipos De Medicion</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>


              <hr style="color: #0056b2;">
              <h5>Observaciones</h5>
           
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Observaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <hr style="color: #0056b2;">
              <h5>Quien Realiza</h5>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label mt-2">Firma</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label mt-2">Nombre</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label mt-2">Cargo</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label mt-2">Tarjeta Profesional</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label mt-2">Fecha</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>


          </form>
          </div>
        </div>
    </body>
</html>

