<app-navbar></app-navbar>
<html>
    <head>

    </head>
    <body>

        <div class="card">
            <div class="card"> 
        <div class="container">
          <h1 class="text-center mt-3">Porcentaje Cumplimiento Mantenimiento Correctivo</h1> 
          <br>
          <br>

          <div class="container">
            <div class="row">
              
              <div class="col-sm ">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">Referencia</th>
                      <th scope="col" class="text-center">Cantidad</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td >Número de Mantenimientos Correctivo Programados</td>
                      <td>{{NumeroProgramadosCorrectivos}}</td>
                      
                      
                 
                    </tr>
                    <tr >
                      <td >Número de Mantenimientos Correctivo Realizados</td>
                      <td>{{numeronorealizados}}</td>
                 
                    </tr>
                    <tr>
                      <td >Número de Mantenimientos Correctivo No Realizados</td>
                      <td>0</td>
                    </tr>

                    <tr>
                      <td >Número de Solicitudes de Mantenimientos No Correctivos</td>
                      <td>0</td>
                    </tr>

                    <tr>
                      <td >Porcentaje (%) Eficacia</td>
                      <td>0</td>
                    </tr>

                    <tr>
                      <td >Porcentaje (%) Fallo</td>
                      <td>0</td>
                    </tr>
                  
                
                  </tbody>
                </table>
              </div>
              </div>

            </div>

          </div>
        
        </div>
      </div>
    </body>
</html>

