<app-navbar></app-navbar>
<html>
    <head>

    </head>
    <body>

        <div class="card">
            <div class="card"> 
        <div class="container">
          <h1 class="text-center mt-3">Historial Mantenimiento Preventivo</h1> 
          <br>
          <br>

          <div class="container">
            <div class="row">
              
              <div class="col-sm ">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Referencia</th>
                      <th scope="col">Cantidad</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th >Horas Paradas por Mantenimiento Correctivo</th>
                      <td>{{numerohorasCorrectivo}}</td>
                      
                      
                 
                    </tr>
                    <tr >
                      <th >Horas Paradas por Mantenimiento Preventivo</th>
                      <td>{{numerohorasPreventivo }}</td>
                      
                      
                      
                 
                    </tr>
                    <tr>
                      <th >Horas Paradas por Mantenimiento Preventivo y Correctivo</th>
                      <td>{{numerohorasPreventivo +numerohorasCorrectivo }} </td>
                      
                      
                 
                    </tr>
                  
                
                  </tbody>
                </table>
              </div>
              </div>

            </div>

          </div>
          <div class="container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Asistencia</th>
                <th scope="col">Tiempo Fuera de Servicio</th>
                <th scope="col">Fecha Mantenimiento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mantenimiento of mantenimientos">
               
                    <td><a [routerLink]="['/reportepreventivo/',mantenimiento.id]">{{mantenimiento.asistencia}}</a></td> 
                    <td>{{mantenimiento.tiempofuera}}</td>
                    <td> {{mantenimiento.fechaCreacion }}</td> 
                
              </tr>
          
            </tbody>
          </table>
        
          </div>
        </div>
      </div>
      <div class="container mr-4 text-center">
          
        <div class="row">
            <div class="col-6">
                
              
                  <img src="{{url}}">
                
                    
               
            </div>
      
        </div>
        </div>
    </body>
</html>

