<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row" position="floating">
                <div class="col-6">
                    <div class="card " position="floating">
                        <br>
                 
                    <a class="btn btn-primary btn-lg custom " href="../porcentajespreventivos/" role="button">Porcentaje (%) Cumplimiento Mantenimiento Preventivo</a>
                        <br>
                   
                    <a class="btn btn-primary btn-lg custom"   href="../porcentajecorrectivo/"role="button">Porcentaje (%) Cumplimiento Mantenimiento Correctivo</a>
                    
                    <br>
                    <a class="btn btn-primary btn-lg custom"  href="../porcentajepresupuesto/" role="button">Porcentaje del Presupuesto Utilizado en Mantenimiento de Equipos </a>
                 
                    
                        
                    </div>
                </div>

            </div>
            </div>
    </body>
</html>

