<app-navbar></app-navbar>
<html>
    <head>

    </head>
    <body>

        <h1 class="text-center">Inspeccion, Vigilancia y Control de Mantenimiento de EB</h1>
        <div class="container mr-4 text-center">
          
            <div class="row">
                <div class="col-6">
                    <div class="card ">
                        <br>
                 
                    <a class="btn btn-primary btn-lg custom" routerLink="/porcentajespreventivos" role="button">Porcentaje (%) Cumplimiento Mantenimiento Preventivo</a>
                        <br>
                   
                    <a class="btn btn-primary btn-lg custom"   routerLink="/porcentajecorrectivo"role="button">Porcentaje (%) Cumplimiento Mantenimiento Correctivo</a>
                    
                    <br>
                    <a class="btn btn-primary btn-lg custom"  routerLink="/porcentajepresupuesto" role="button">Porcentaje del Presupuesto Utilizado en Mantenimiento de Equipos </a>
                 
                    
                        
                    </div>
                </div>

            </div>
            </div>
    </body>
</html>

