<app-navbar></app-navbar>
<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS ODONTOLOGÍA</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th>Número de Equipos</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a  routerLink="/consultorioodontologia1">CONSULTORIO ODONTOLOGÍA Nº 1</a></td>
                      <td>{{numeroodontologia1}}</td>
                      <td>{{costoOdontologia }}</td>
                    
                    </tr>
                    <tr>
                      <td ><a routerLink="/consultorioodontologia2">CONSULTORIO ODONTOLOGÍA Nº 2</a></td>
                      <td>{{numeroodontologia2}}</td>
                      <td>{{costoOdontologia2}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="/consultorioodontologia3">CONSULTORIO ODONTOLOGÍA Nº 3</a></td>
                      <td>{{numeroodontologia3}}</td>
                      <td>{{costoOdontologia3}}</td>
                    </tr>

                   

               

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>
