<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS ODONTOLOGÍA</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a href="../consultorioodontologia1/">CONSULTORIO ODONTOLOGÍA Nº 1</a></td>
                      <td>{{costoOdontologia}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a href="../consultorioodontologia2/">CONSULTORIO ODONTOLOGÍA Nº 2</a></td>
                      <td>{{costoOdontologia2}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultorioodontologia3/">CONSULTORIO ODONTOLOGÍA Nº 3</a></td>
                      <td>{{costoOdontologia3}}</td>
                    </tr>

                   

               

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>
