<html>
    <head>

    </head>
    <body>

        <div class="card">
            
        <div class="container">
          <h3 class="text-center mt-3">Protocolo de Limpieza</h3> 
            <h5 class="mt-3">Rutina de Desinfeccion</h5>
        <form class="row g-3">
            <div class="col-md-8  ">
              <label for="inputEmail4" class="form-label mt-2">Procedimiento 1</label>
              <input type="email" class="form-control "  id="inputEmail4">
            </div>
            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 2</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>

            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 2</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>
            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 3</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>
            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 4</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>

            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 5</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>

            <div class="col-md-8  ">
                <label for="inputEmail4" class="form-label mt-2">Procedimiento 6</label>
                <input type="email" class="form-control "  id="inputEmail4">
            </div>

            <hr style="color: #0056b2;" />
            <h5>Observaciones</h5>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Observaciones</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
         

            
        

              
           
     
          </form>
          </div>
        </div>
    </body>
</html>
