<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS MEDICINA GENERAL</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a href="../consultoriomedicinageneral1/">CONSULTORIO MEDICINA GENERAL Nº 1</a></td>
                      <td>{{costoMedicinaGenaral}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a href="../consultoriomedicinageneral2/">CONSULTORIO MEDICINA GENERAL Nº 2</a></td>
                      <td>{{costoMedicinaGenaral2}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultoriomedicinageneral3/">CONSULTORIO MEDICINA GENERAL Nº 3</a></td>
                      <td>{{costoMedicinaGenaral3}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultoriomedicinageneral4/">CONSULTORIO MEDICINA GENERAL Nº 4</a></td>
                      <td>{{costoMedicinaGenaral4}}</td>
                    </tr>

                    <tr>
                      <td><a href="../consultoriomedicinageneral5/">CONSULTORIO MEDICINA GENERAL Nº 5</a></td>
                      <td>{{costoMedicinaGenaral5}}</td>
                    </tr>

                    
                    <tr>
                      <td><a href="../consultoriomedicinageneral6/">CONSULTORIO MEDICINA GENERAL Nº 6</a></td>
                      <td>{{costoMedicinaGenaral6}}</td>
                    </tr>

               

                   
                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>
