<app-navbar></app-navbar>
<html>
  <head>

  </head>

  <body>
    <div class="container  mt-4">
      <div class="card">
          <div class="card-body">
              <span class="h3">CONSULTORIOS MEDICINA GENERAL</span>
             
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th >Consultorios</th>
                      <th>Número de Equipos</th>
                      <th >Costo Mantenimiento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <a routerLink ="../consultoriomedicinageneral1">CONSULTORIO MEDICINA GENERAL Nº 1</a></td>
                      <td>{{numeroMedicina1}}</td>
                      <td>{{costoMedicinaGenaral}}</td>
                    
                    </tr>
                    <tr>
                      <td ><a routerLink="../consultoriomedicinageneral2">CONSULTORIO MEDICINA GENERAL Nº 2</a></td>
                      <td>{{numeroMedicina2}}</td>
                      <td>{{costoMedicinaGenaral2}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="../consultoriomedicinageneral3">CONSULTORIO MEDICINA GENERAL Nº 3</a></td>
                      <td>{{numeroMedicina3}}</td>
                      <td>{{costoMedicinaGenaral3}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="../consultoriomedicinageneral4">CONSULTORIO MEDICINA GENERAL Nº 4</a></td>
                      <td>{{numeroMedicina4}}</td>
                      <td>{{costoMedicinaGenaral4}}</td>
                    </tr>

                    <tr>
                      <td><a routerLink="../consultoriomedicinageneral5">CONSULTORIO MEDICINA GENERAL Nº 5</a></td>
                      <td>{{numeroMedicina5}}</td>
                      <td>{{costoMedicinaGenaral5}}</td>
                    </tr>

                    
                    <tr>
                      <td><a routerLink="../consultoriomedicinageneral6">CONSULTORIO MEDICINA GENERAL Nº 6</a></td>
                      <td>{{numeroMedicina6}}</td>
                      <td>{{costoMedicinaGenaral6}}</td>
                    </tr>

                 
                  </tbody>
                </table>
  
          </div>
  
      </div>
  
  </div>
  </body>
</html>
