<app-navbar></app-navbar>
<html>
    <head>

    </head>
    <body>
       
          <h1 class="text-center mt-3">Menu Hoja de Vida</h1> 
         
            <div class="container">

           <div class="row">

          <div class="col-6 card1">
          <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="/assets/img/ficha.jpg" alt="Card image cap">
            <div class="card-body">
         
            <a class="btn  btn-lg custom" [routerLink]= "['/hojadevida', id]" role="button">Ficha Tecnica</a>
            </div>
          </div>
        </div>
        <div class="col-6 card2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/img/documentos.jpg" alt="Card image cap">
            <div class="card-body">
                <a class="btn  btn-lg custom" [routerLink]= "['/documentosequipos', id]" role="button">Documentos Biomedicos</a>
            </div>
          </div>
        </div>
        </div>
        </div>
 
    </body>
</html>


