<app-navbar></app-navbar>
<html>
  <head>

  </head>
  <body>
    <div class= "container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h3">Almacen</span>
          <table class="table table-striped mt-5 ">
            <thead>
              <tr>
                <td>Nombre</td>
                <td>Costos</td>
                <td>Descripcion</td>
                <td>Cantidad Restantes</td>
                <td>Cantidad Inicial</td>
                <td></td>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let repuesto of repuestos">
                <td>{{repuesto.nombre}}</td>
                <td> {{repuesto.costo}}</td>
                <td>{{repuesto.descripcion}}</td>
                <td> {{repuesto.cantidadRestante}}</td>
                <td>{{repuesto.cantidadInicial}}</td>  
                <td>
                 
                  <i (click)="eliminarRepuesto(repuesto.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                </td>         
              </tr>
              <button class="btn btn-primary btn-lg float-right mt-4 " routerLink="/create-almacen">Agregar</button>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </body>
</html>
