<!--<div class="contenedor">
    <div class="contenedor_formulario">
      <h1 class="is-size-1">Subir archivos a Cloud Storage</h1>
      <p class="download">URL de descarga: <a href="#" target="_blank">Descargar</a></p>
      <form>
        <div class="file has-name is-boxed">
          <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
              <span class="file-label">
                Elegir un archivo…
              </span>
            </span>
            <span class="file-name">
              No hay un archivo seleccionado
            </span>
          </label>
        </div>
        <hr>
        <progress class="progress is-large is-success" value="0" max="100">0%</progress>
        <button class="button is-success is-large">Subir archivo</button>
      </form>
    </div>
  </div>-->
  <section fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100" fxLayoutGap="20px">
    <div class="label" fxFlex="30">Archivo</div>
    <div fxFlex="30"><input type="file" name="file" (change)="onFileSelect($event)"/></div>
    <div fxFlex="30">
      <button mat-flat-button color="primary" (click)="uploadFile()">Cargar</button>
    </div>
    <mat-progress-bar mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
    <div class="label" fxFlex="30" *ngIf="completed">Archivo cargado</div>
  </section>