<html>
    <head>

    </head>
    <body>

        <div class="card">
            
        <div class="container">
          <h3 class="text-center mt-3"> Actualizar Hoja de Vida</h3> 
            <h5 class="mt-3">Identificacion</h5>
            <form  [formGroup]="createEquipo"   (ngSubmit)="EditarEquipo(id)" class="row g-3">

              <div class="col-md-4 ">
                <label  class="form-label ">Nombre Equipo</label>
                <input type="text" class="form-control"  formControlName="nombreEquipo">
              </div>
    
              <div class="col-md-4 ">
                <label  class="form-label ">Identificación del Protocolo</label>
                <input type="text" class="form-control"  formControlName="alimentacion">
              </div>
              
              <div class="col-md-4 ">
                <label  class="form-label ">Ubicación</label>
                <input type="text" class="form-control"  formControlName="ubicacioncon">
              </div>
    
    
              <div class="col-md-3 ">
                <label  class="form-label mt-2">Marca</label>
                <input type="text" class="form-control" formControlName="marca">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Modelo</label>
                <input type="text"class="form-control" formControlName="modelo">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Serie</label>
                <input type="text" class="form-control" formControlName="serie">
              </div>
              <div class="col-md-3">
                <label  class="form-label mt-2">Nº / Activo</label>
                <input type="text" class="form-control" formControlName="nactivo">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Propietario</label>
                <input type="text" class="form-control" formControlName="propietario">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Periocidad de Tiempo</label>
                <input type="text" class="form-control" formControlName="periodicidadTiempo">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Código Equipo</label>
                <input type="text" class="form-control" formControlName="codigo">
              </div>
    
              <div class="col-md-3">
                <label  class="form-label mt-2">Caracteristicas</label>
                <input type="text" class="form-control" formControlName="ubicacionEquipo">
              </div>
    
              <div class="col-md-3 ">
                  <label class="form-label ">Codigo ECR1</label>
                  <input type="text" class="form-control" formControlName="codigoecr" >
              </div>
    
              <div class="col-md-3 ">
                <label class="form-label ">Estimado</label>
                <input type="text" class="form-control" formControlName="estimado" >
              </div>
    
              <div class="col-md-3 ">
                <label class="form-label ">Fecha Actividad</label>
                <input type="text" class="form-control" formControlName="fechaActividad" >
              </div>
    
              <div class="col-md-3 ">
                <label class="form-label ">Servicio</label>
                <input type="text" class="form-control" formControlName="servicio" >
              </div>
                

                <hr style="color: #0056b2;" />
                <h5>CLASIFICACIÓN TECNO VIGILANCIA</h5>
    
              <div class="col-6">
                    <label  class="form-label">clasificación Biomédica</label>
                    <input type="text" class="form-control" formControlName="clasificacionBiomedica" >
              </div>
    
              <div class="col-6">
                <label  class="form-label">Fecha Adquisición</label>
                <input type="text" class="form-control" formControlName="fechaAdquisicion" >
              </div>
    
              <div class="col-6">
                <label  class="form-label">Diagnostico</label>
                <input type="text" class="form-control" formControlName="diagnostico" >
              </div>
    
              <div class="col-6">
                <label  class="form-label">Fecha de Instalación</label>
                <input type="text" class="form-control" formControlName="fechaInstalacion" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Prevención</label>
                <input type="text" class="form-control" formControlName="prevencion" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Compra</label>
                <input type="text" class="form-control" formControlName="compra" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Donación</label>
                <input type="text" class="form-control" formControlName="donacion" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Rehabilitacion</label>
                <input type="text" class="form-control" formControlName="rehabilitacion" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Fabricante</label>
                <input type="text" class="form-control" formControlName="fabricante" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Dirección Fabricante</label>
                <input type="text" class="form-control" formControlName="fabricante" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Analisis Laboratorio Clinico</label>
                <input type="text" class="form-control" formControlName="analisisClinico" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Registro Sanitario</label>
                <input type="text" class="form-control"  formControlName="registroInvima" >
              </div>
    
              <div class="col-4">
                <label  class="form-label">Vida Util</label>
                <input type="text" class="form-control" formControlName="vidaUtil" >
              </div>
    
              <div class="col-6">
                <label  class="form-label">Tratamiento y Mantenimiento de la Vida</label>
                <input type="text" class="form-control" formControlName="ttoMto" >
              </div>
    
              <div class="col-6">
                <label  class="form-label">Manual de Operación</label>
                <input type="text" class="form-control" formControlName="manuelOperacion" >
              </div>
    
              
    
              
    
                
                  <hr style="color: #0056b2;" />
                  <h5>DESCRIPCIÓN DEL EQUIPO</h5>
    
                  <div class="col-md-12">
                    <label  class="form-label">Funciones que Cumple - Proceso que Realiza</label>
                    <textarea  type="text" name="servicio" class="form-control" formControlName="funciones"></textarea>
                   
                  </div>
    
                  <div class="col-md-12">
                    <label  class="form-label">Sugerencias de Uso y de Manipulación</label>
                    <textarea  type="text" name="servicio" class="form-control" formControlName="sugerencia"></textarea>
                  </div>
    
                  <div class="col-md-12">
                    <label  class="form-label">Manual Procedimientos que Garanticen la Gestion de Riesgo</label>
                    <textarea  type="text" name="servicio" class="form-control" formControlName="manual"></textarea>
                  </div>
    
    
                  <hr style="color: #0056b2;" />
                  <h5>DATOS TECNICOS</h5>
    
    
    
                  <div class="col-md-6">
                    <label  class="form-label">Tecnologia</label>
                    <input type="text" class="form-control" formControlName="tecnologia" >
                  </div>
    
                  <div class="col-md-6">
                    <label  class="form-label">Alimentacion</label>
                    <input type="text" class="form-control"  formControlName="alimentacion">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Voltaje</label>
                    <input type="text" class="form-control"  formControlName="voltaje">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Frecuecia</label>
                    <input type="text" class="form-control"  formControlName="frecuencia">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Rango de Medición</label>
                    <input type="text" class="form-control"  formControlName="frecuencia">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Corriente</label>
                    <input type="text" class="form-control"  formControlName="corriente">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Potencia</label>
                    <input type="text" class="form-control"  formControlName="potencia">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Variables</label>
                    <input type="text" class="form-control"  formControlName="variable">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Temperatura Ambiente</label>
                    <input type="text" class="form-control"  formControlName="temperaturaAmbiente">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Peso</label>
                    <input type="text" class="form-control"  formControlName="peso">
                  </div>
    
                  <div class="col-md-4">
                    <label  class="form-label">Humedad</label>
                    <input type="text" class="form-control"  formControlName="humedad">
                  </div>
    
                <hr style="color: #0056b2;">
                <h5> COMPONENTES Y/O ACCESORIOS</h5>
    
                  <div class="col-md-12">
                    <label  class="form-label">Accesorios</label>
                    <textarea type="text" class="form-control" formControlName="accesorios"></textarea>
                  </div>
    
                  <hr style="color: #0056b2;">
                  <h5>PROCESO DE LIMPIEZA, DESINFECCIÓN Y ESTERILIZACIÓN</h5>
    
    
                  <div class="col-md-4 ">
                    <label  class="form-label mt-2">Limpieza</label>
                    <input type="text" class="form-control"  formControlName="limpieza">
                  </div>
    
                  <div class="col-md-4 ">
                    <label  class="form-label mt-2">Esterilización</label>
                    <input type="text" class="form-control"  formControlName="esterilizacion">
                  </div>
    
                  <div class="col-md-4 ">
                    <label  class="form-label mt-2">Desinfección</label>
                    <input type="text" class="form-control"  formControlName="desinfeccion">
                  </div>
    
                  <hr style="color: #0056b2;">
                  <h5>GESTION DE RIESGO</h5>
    
                  <div class="col-md-6">
                    <label  class="form-label mt-2">PROBABILIDAD DE EVENTOS ADVERSOS</label>
                    <textarea type="text" class="form-control" formControlName="eventosAdversos"></textarea>
                  </div>
    
                  <div class="col-md-6">
                    <label  class="form-label mt-2">ACCIONES PREVENTIVAS</label>
                    <textarea type="text" class="form-control" formControlName="preventivas"></textarea>
                  </div>
    
                  <br>
                  <br>
                  <br>
                  <div class="mt-3 mr-3">
                    <button type="submit" class="btn btn-secondary btn-lg mr-12">Actualizar Equipo</button>
                    <button type="text"  class="btn btn-secondary btn-lg mr-3" routerLink="/almacen">Regresar</button>
                </div>
         
               </form>
             
     
        
           
          </div>
        </div>
    </body>
</html>
