h5{
    display: block;
    background-color:#D4D4D4;
    text-align: center;
}



.form input:required {
    content:"*";
    color: red;
 }
 .is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
  }