<html>
  <head>

  </head>
  <body>
    <div class= "container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h3">Planificacion de Mantenimiento Preventivo</span>
          <table class="table table-striped mt-5 ">
            <thead>
              <tr>
                <td>Referencia</td>
                <td>Cantidad</td>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Numero Mantenimientos Preventivos Programados</td>
                <td>50.000</td>          
              </tr>
              <tr>
                <td>Numero Mantenimientos Preventivos Realizados</td>
                <td>50.000</td>          
              </tr>
              <tr>
                <td>Numero Mantenimientos Preventivos  no Realizados</td>
                <td>50.000</td>          
              </tr>
              <tr>
                <td>Porcentaje (%) Eficacia</td>
                <td>50.000</td>          
              </tr>
              <tr>
                <td>Porcentaje (%) Fallo</td>
                <td>50.000</td>          
              </tr>
              
           
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </body>
</html>
