<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
    <body>
      <div class="card">
      <form  [formGroup]="mostrarDatos" class="row g-3"  > 
     
            <div class="container">
              <h1 class="text-center mt-3">Equipos</h1> 
                <h5 class="mt-3">Informacion</h5>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Nombre Equipo</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Costos</th>
                        <th scope="col">Serial</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{nombreEquipo}}</td>
                        <td>{{serivicio}}</td>
                        <td>{{estado}}</td>
                        <td>000</td>
                        <td>{{serie}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
       
      </form>


      <div class="container">
        <div class="row">

          <div class="col-6">
            <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/historialsolictudes', id]" role="button">Historial de Solicitudes de Mantenimiento</a>
          </div>
  
          <div class="col-6">
            <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/historialsolicitudesnorealizadas', id]" role="button">Historial de Mantenimientos No Realizados</a>
          </div>

         <div class="col-6">                
           <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/historialmantenimiento', id]" role="button">Historial Mantenimiento Correctivo</a>
         </div>

         <div class="col-6">       
           <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/historialmantenimientopreventivo', id]" role="button">Historial Mantenimiento Preventivo</a>
         </div>

        

         <div class="col-6">
           <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/actualizarequipo', id]" role="button">Actualizar  Equipo</a>
         </div>

         <div class="col-6">
           <a class="btn btn-primary btn-lg custom mt-4" [routerLink]= "['/darbajaequipo', id]" role="button">Dar Baja</a>
         </div>

       

         </div>

     </div>
 
    </div>
           
    </body>
</html>

